@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

body {
    color: #505962;
}

/* general */
.btn-custom {
    color: #800000;
    border: 2px solid #800000;
    border-radius: 0;
    padding: .5rem 1.1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 1rem;
    background: transparent;
    cursor: pointer;
}
.btn-custom:hover {
    color: #800000;
    cursor: pointer;
}
button:focus, a:focus {
    outline: 0 !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
}
.form-control,.custom-select {
    border-radius: 0 !important;
}

.custom-control-input:checked~.custom-control-label::before {
    background: #800000;
    border-color: #800000;
}
#datepicker1:focus,
#datepicker2:focus,
#update-to:focus,
#update-from:focus,
.form-control:focus,
.custom-select:focus {
    border-color: #800000;
    box-shadow: 0 0 0 0.2rem rgba(128, 0, 0, 0.25);
}
.custom-control-input:focus~.custom-control-label::before {
    border-color: #800000;
    box-shadow: 0 0 0 0.2rem rgba(128, 0, 0, 0.25);
}
.btn-outline-secondary {
    border-radius: 0 !important;
}
.text-custom {
    color: #800000;
    font-weight: bold;
}
.remove-ml {
    margin-left: 0!important;
}
.alert {
    border-radius: 0 !important;
    text-align: center;
}

/* navbar */
.brand {
    font-family: 'Tangerine', cursive;
    font-size: 2.7rem;
    text-decoration: none !important;
    color: #800000;
}
.brand:hover {
    color: #800000;
}
.title {
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: bold;
}
.navbar {
    padding: .1rem .7rem;
}
.nav-page {
    margin-right: 1.5rem;
}
.nav-page i {
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}
.nav-page i:hover {
    color: #800000;
}
.tooltip .arrow::before {
    display: none;
}
/* offers table */
.remove {
    color: red;
}
.m-item {
    cursor: pointer;
    text-align: center;
}

/* modals */
.modal-content {
    border-radius: 0 !important;
}
.col-padding {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

/* user table */
.green-dot{
    height: 10px;
    width: 10px;
    background-color: #009300;
    border-radius: 50%;
    display: inline-block;
}

/* editor */
.note-editor.note-airframe, .note-editor.note-frame {
    border-radius: 0!important;
}
